@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Passion+One|Iceland|Geostar');
@import url('device.css');
@import url('switch.css');
@import url('block.css');
@import url('knob.css');
@import url('param.css');
@import url('keyboard.css');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.workspace {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (orientation: portrait) {
    .workspace {
        display: block;
    }

    .device {
        transform: scale(2) rotate(-90deg) translate(-100%, 0);
        transform-origin: 0 0;
    }
}
