<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        <%- htmlWebpackPlugin.options.title %>
    </title>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.faviconDataUrl %>" type="image/svg+xml" />
</head>

<body></body>

</html>
