{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": "3.18.0",
        "useBuiltIns": "usage",
        "shippedProposals": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "env": {
    "development": {
      "plugins": [
        "@hh.ru/babel-plugin-react-source"
      ]
    }
  }
}
