{
  "presets": [
    ["env", {
      "exclude": [
        "transform-regenerator",
        "transform-es2015-arrow-functions"
      ],
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
