.param {
}

    .param__input {
        display: none;
    }

    .param__title {
        display: block;
        border-radius: 10px;
        background: orange;
        color: var(--bg-color);
        font: normal 17px/21px 'Pathway Gothic One', sans-serif;
        text-transform: uppercase;
        text-align: center;
    }

    .param__knob {
        --knob-size: 26px;
        position: relative;
        display: block;
        width: var(--knob-size);
        height: var(--knob-size);
        margin: 4px auto 10px;
        border-radius: 50%;
        background: #111;
        box-shadow: 0 0 0 3px #111;
    }

        .param__knob_led {
            background: hsl(65, 100%, 70%);
            box-shadow: 0 0 3px 0px hsl(65, 100%, 70%);
        }
