.switch {
    --switch-height: 11px;
    --switch-width: 12px;
    --bevel-size: 2px;
    position: relative;
    border: 0;
    margin: auto;
    padding: 10px 45px 10px 0;
}

    .switch::after,
    .switch::before {
        content: '';
        position: absolute;
    }

    .switch::before {
        top: 0;
        left: calc(var(--switch-width) / 2 - var(--bevel-size));
        bottom: 0;
        border: var(--bevel-size) solid orange;
        border-radius: var(--bevel-size);
    }

    .switch::after {
        --padding: 1px;
        top: 10px;
        left: 0;
        bottom: 10px;
        width: var(--switch-width);
        background: #000;
        margin: calc(-1 * (var(--bevel-size) + var(--padding)));
        padding: 0 var(--padding);
        border: var(--bevel-size) solid;
        border-color: #000 #111 #111;
    }

    .switch__position {
        display: block;
        text-transform: uppercase;
        font-size: 12px;
    }

    .switch__input {
        display: none;
    }

    .switch__knob,
    .switch__label {
        display: inline-block;
        vertical-align: middle;
    }

    .switch__knob {
        position: relative;
        margin-right: calc(var(--bevel-size) + 5px);
        padding-bottom: var(--switch-height);
        padding-right: var(--switch-width);
        z-index: 1;
    }

    .switch__input:checked + .switch__knob {
        background-image: repeating-linear-gradient(to bottom,
            rgba(255, 255, 255, .3),
            rgba(255, 255, 255, .3) 1px,
            transparent 1px,
            transparent 2px);
    }
