name: Lint

on: pull_request

jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          persist-credentials: false

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install
        run: npm ci

      - name: Install
        run: npm run build --workspaces

      - name: Check workspaces
        run: npm run lint --workspaces && npm run lint
